@import "../../../../style/colors";
@import "../../../../style/typo";
@import "../../../../style/icons";
@import "../../../../style/extends";
.headerWrapper {
  @extend %headerWrapper;
}

.filter {
  width: 100%;
  margin: 0 auto; // Filter Buttons
  .filterButtons {
    li {
      display: inline-block;
      padding: 10px;
      cursor: pointer;
      color: $col-black;
      font-size: 1em;
      letter-spacing: .04em;
      border-bottom: 1px solid $col-smoke-white;
      transition: all .3s;
      &:hover {
        border-bottom: 1px solid $col-zemsania !important;
      }
    }
  }
  .filterOptions {
    display: flex;
    flex-flow: row wrap;
    align-items: center;

    .filtratedList {
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      padding: 8px 0;

      li {
        display: inline-block;
        padding-right: 10px;
        margin-bottom: 8px;

        a {
          color: $col-grey-30;
          font-size: .9em;
          letter-spacing: .03em;
          padding: 5px 8px;
          transition: all .3s;
          animation: enterOpacity .5s;
          cursor: pointer;
          &:hover {
            color: $col-zemsania;
          }
        }
        .active-calendar {
          color: $col-orange !important; // @extend %fw-bold;
        }
      }
      .createCalendarIcon {
        display: inline-block;
        padding: 0;
        .add-calendar {
          font-size: 1.5em;
          color: lighten($col-green, 15%);
          cursor: pointer;
          &:hover {
            color: $col-green;
          }
        }
      }
    }
  }

  .filter-selected {
    border-bottom: 1px solid $col-zemsania !important;
    @extend %fw-bold;
  }

  .subfilter-selected {
    color: $col-zemsania;
  }

} // Filter close

.choosenCalendar {
  margin-top: 25px;
  text-align: center;
  margin: 0 auto;
}


// Delete calendar
.delete-calendar {
  display: block;
  color: lighten($col-red, 10%);
  padding-top: 10px;
  margin-bottom: 55px;
  margin-top: 15px;
  border-top: 1px solid $col-grey-70;
  cursor: pointer;
  transition: .3s all;

  &:hover {
    color: $col-red;
    border-top: 1px solid lighten($col-red, 10%);
  }

  .delete-confirm {
    animation: .5s enterTranslateYdown;
  }
}
