<div class="headerWrapper">
  <ia-comp-header [compHeaderSectionData]="headerData.sectionData" [compHeaderActionsShow]="headerData.actionsShow">
  </ia-comp-header>
</div>

<main>
  <!-- Show calendar filter -->
  <div class="filter">

    <!-- Filter buttons  - main options-->
    <ul class="filterButtons">
      <li (click)="typeViewShowed = 1" [class.filter-selected]="typeViewShowed === 1 ">{{ 'calendars.filter.showCountries' | translate}}</li>
      <li (click)="typeViewShowed = 2" [class.filter-selected]="typeViewShowed === 2 ">{{ 'calendars.filter.showCommunities' | translate}}</li>
      <li (click)="typeViewShowed = 3" [class.filter-selected]="typeViewShowed === 3 ">{{ 'calendars.filter.showCities' | translate}}</li>
    </ul>

    <!-- Filter suboptions -->
    <div [ngSwitch]="typeViewShowed" class="filterOptions">
      <!-- Show countries -->
      <ul *ngSwitchCase="1" class="filtratedList">
        <li *ngFor="let country of myCalendars | myCalendarsTypesPipe:1">
          <a [routerLink]="['calendar', country.id]" routerLinkActive="active-calendar" (click)="setTitle(country.name)">{{ country.name }}</a>
        </li>
      </ul>
      <!-- Show states -->
      <ul *ngSwitchCase="2" class="filtratedList">
        <li *ngFor="let state of (myCalendars | myCalendarsTypesPipe:2)">
          <a [routerLink]="['calendar', state.id]" routerLinkActive="active-calendar" (click)="setTitle(state.name)">{{ state.name }}</a>
        </li>
      </ul>
      <!-- Show cities -->
      <ul *ngSwitchCase="3" class="filtratedList">
        <li *ngFor="let city of (myCalendars | myCalendarsTypesPipe:3)">
          <a [routerLink]="['calendar', city.id]" routerLinkActive="active-calendar" (click)="setTitle(city.name)">{{ city.name }}</a>
        </li>
      </ul>
    </div>

    <!-- Create new calendar button -->
    <div class="createCalendarIcon">
      <a class="mdi mdi-plus-circle-outline add-calendar" [routerLink]="['calendar', '01']" [title]="'general.buttons.title.addCalendar' | translate"></a>
    </div>

  </div>

  <!-- Calendar content -->
  <div class="choosenCalendar">
    <router-outlet></router-outlet>
  </div>

</main>
