<div class="headerWrapper">
  <ia-comp-header
    [compHeaderSectionData]="headerData.sectionData"
    [compHeaderActionsShow]="headerData.actionsShow">
  </ia-comp-header>
</div>

<main>
    <!-- Show calendar filter -->
    <div class="filter">

        <!-- Filter buttons  - main options-->
        <ul class="filterButtons">
            <li (click)="typeView = 'myTypeFilterObject.countryShow'" [class.filter-selected]="typeView == 'myTypeFilterObject.countryShow'">{{ 'calendars.filter.showCountries' | translate}}</li>
            <li (click)="typeView = 'myTypeFilterObject.stateShow'" [class.filter-selected]="typeView == 'myTypeFilterObject.stateShow'">{{ 'calendars.filter.showCommunities' | translate}}</li>
            <li (click)="typeView = 'myTypeFilterObject.cityShow'" [class.filter-selected]="typeView == 'myTypeFilterObject.cityShow'">{{ 'calendars.filter.showCities' | translate}}</li>
        </ul>

        <!-- Filter suboptions -->
        <div [ngSwitch]="typeView" class="filterOptions">
            <ul *ngSwitchCase="'myTypeFilterObject.countryShow'" class="filtratedList">
                <li *ngFor="let country of (myCalendars | myCalendarsTypesPipe:'01')">
                    <a [routerLink]="['calendar', country.id]" routerLinkActive="active-calendar">{{ country.name }}</a>
                </li>
            </ul>

            <ul *ngSwitchCase="'myTypeFilterObject.stateShow'" class="filtratedList">
                <li *ngFor="let state of (myCalendars | myCalendarsTypesPipe:'02')">
                    <a [routerLink]="['calendar', state.id]" routerLinkActive="active-calendar">{{ state.name }}</a>
                </li>
            </ul>

            <ul *ngSwitchCase="'myTypeFilterObject.cityShow'" class="filtratedList">
                <li *ngFor="let city of (myCalendars | myCalendarsTypesPipe:'03')">
                    <a [routerLink]="['calendar', city.id]" routerLinkActive="active-calendar">{{ city.name }}</a>
                </li>
            </ul>
        </div>

        <li class="createCalendarIcon">
            <a class="mdi mdi-plus-circle-outline add-calendar" (click)="viewNewCalendar()" [title]="'general.buttons.title.addCalendar' | translate"></a>
        </li>

        <form (ngSubmit)="saveNewCalendar(nameCalendar.value, '02')" [class.createNew]="createCalendarShow">
            <input type="text" #nameCalendar placeholder="{{ 'general.buttons.title.nameCalendar' | translate }}">
            <button type="submit" class="bt-pos">{{ 'general.buttons.save' | translate }}</button>
        </form>

    </div>

    <!-- Calendar content -->
    <!-- <zem-calendar-selected></zem-calendar-selected> -->
    <div class="choosenCalendar">

        <router-outlet></router-outlet>
    </div>

</main>
