
<!-- Calendar title -->
<!-- <h2>{{ 'calendars.titleCalendar' | translate }} {{ calendarName }}</h2>
<!-- Create new calendar form -->
<form [formGroup]="rForm" (ngSubmit)="saveCalendar(rForm.value, typeViewShowed)">

    <input formControlName="nameNewCalendar" type="text" value="{{ calendarName }}" autofocus [ngClass]="{'createOk': calendarCreatedOk}" title="Editar nombre" [(ngModel)]="calendarName">

    <!-- Lenght alert -->
    <span class="alert" *ngIf="!rForm.controls['nameNewCalendar'].valid && rForm.controls['nameNewCalendar'].dirty">{{ 'general.alerts.newCalendarLenght' | translate }}</span>
    <!-- Name exists alert -->
    <span class="alert" *ngIf="calendarExists">{{ 'general.alerts.newCalendarExists' | translate }}</span>
    <!-- Name exists alertOk -->
    <span class="alertOk" *ngIf="calendarCreatedOk">{{ 'general.alerts.newCalendarCreatedOk' | translate }}</span>

</form>
<!-- {{calendarName}} -->

<!-- Year selector -->
<ul class="year-selector">
  <li (click)="getCalendarByYear(prevYear)">{{prevYear}}</li>
  <li (click)="getCalendarByYear(currentYear)">{{currentYear}}</li>
  <li (click)="getCalendarByYear(nextYear)" class="mda mda-plus new-year">{{nextYear}}</li>
</ul>

<!-- Calendars into #months created dynamically with jquery-ui -->
<div id="months"></div>
<!-- Delete calendar -->
<h4 class="mdi mdi-delete delete-calendar">{{ 'calendars.deleteCalendar' | translate }}</h4>
