  <!-- Create new calendar form -->
  <form [formGroup]="rForm" (ngSubmit)="updateNameCalendar(calendarName.value); showMsg()">

      <input #calendarName formControlName="nameNewCalendar" maxlength="20" type="text" value="{{ myCalendars | myCalendarsNamePipe:currentId }}" [ngClass]="{ 'createOk': calendarCreatedOk, 'calendarKo' : !rForm.controls['nameNewCalendar'].valid && rForm.controls['nameNewCalendar'].dirty }" title="{{ 'calendars.titleInput' | translate }}">

      <!-- Lenght alert -->
      <span class="alert" *ngIf="!rForm.controls['nameNewCalendar'].valid && rForm.controls['nameNewCalendar'].dirty">{{ 'general.alerts.newCalendarLenght' | translate }}</span>
      <!-- Name exists alert -->
      <span class="alert" *ngIf="calendarExists">{{ 'general.alerts.newCalendarExists' | translate }}</span>
      <!-- Name exists alert-ok -->
      <span class="alert-ok" *ngIf="calendarCreatedOk">{{ 'general.alerts.newCalendarUpdatedOk' | translate }}</span>

      <span class="days-counter">{{ holidays }} {{ 'calendars.holidays' | translate }}</span>

  </form>

  <!-- Year selector -->
  <ul class="year-selector">
    <li *ngFor="let year of years" (click)="yearSelected = year; refresh()"
        [ngClass]="{ 'year-selected' : yearSelected === year, 'mda mda-plus new-year' : !amIExist(year)}">
        {{ year }}
    </li>
  </ul>

  <!-- Calendars into #months created dynamically with jquery-ui -->
  <div class="months"></div>


