// *************************************************** //
	// CONTAINS: extends, additional classes, tooltip, animations
// *************************************************** //



// *************************************************** //
	// EXTENDS
// *************************************************** //

	// FOR DAYTYPES-LEYEND AT 'IMPUTE' AND 'CALENDAR'
		.ext_flex-start_ {
			margin-top: 5px;
			display: flex;
			flex-flow: row wrap;
			justify-content: flex-start;
			align-items: center;
		}
		.ext_cellColor {
			background-image :none ;
			color: #ffffff ;
		}

	// SECTION SUBTITLES
		%sectionSubtitle {
			font-size: 1.2rem ;
		}


// *************************************************** //
	// ADDITIONAL CLASSES TO USE IN SOME PARTICULAR CASES
// *************************************************** //

	// MARGINS
		.mar-0{margin: 0 !important}
		.mar-2{margin: 2px !important}
		.mar-5{margin: 5px !important}
		.mar-10{margin: 10px !important}
		.mar-r-0{margin-right: 0 !important}
		.mar-r-5{margin-right: 5px !important}
		.mar-r-10{margin-right: 10px !important}
		.mar-l-0{margin-left: 0 !important}
		.mar-l-5{margin-left: 5px !important}
		.mar-l-10{margin-left: 10px !important}

	// COLORS
		.clr-red{color: $col-red !important}
		.clr-green{color: $col-green !important}
		.clr-blue{color: $col-blue !important}
		.clr-grey-20{color: $col-grey-20 !important}
		.clr-grey-40{color: $col-grey-40 !important}
		.clr-grey-60{color: $col-grey-60 !important}

	// FONT
		.fs-1-1{font-size: 1.1em !important}
		.fs-1-2{font-size: 1.2em !important}
		.fs-1-3{font-size: 1.3em !important}
		.fs-1-4{font-size: 1.4em !important}
		.fs-1-5{font-size: 1.5em !important}
		.fs-2{font-size: 2em }

		.fw-300{font-weight: 300 !important}
		.fw-400{font-weight: 400 !important}
		.fw-700{font-weight: 700 !important}

	// TEXT
		.txt-center{text-align: center !important}
		.txt-upper{text-transform: uppercase !important}



// *************************************************** //
	// TOOLTIP FOR TITLE ATTRIBUTES
		// USAGE
		// <div class="tooltip">Hover over me
		//   <span class="tooltiptext">Tooltip text</span>
		// </div>
// *************************************************** //

		// Tooltip container
		.tooltip {
		    position: relative;
		    display: inline-block;

		    // Tooltip text
		    .tooltiptext {
		        font-size: 1.4rem;
		        letter-spacing: .05rem;
		        visibility: hidden;
		        width: 140px;
		        background-color: white;
		        color: $col-grey-20;
		        border: 1px solid $col-grey-60;
		        text-align: center;
		        padding: 6px;
		        border-radius: 2px;
		        position: absolute;
		        z-index: 9999;
		        bottom: 115%;
		        left: 50%;
				/* Use half of the width (120/2 = 60), to center the tooltip */
		        margin-left: -70px;

		        // opacity: 0;
		        // transition: opacity 1.5s;

				/* The animation code */
				@keyframes tooltip {
				    from   {opacity: 0; visibility: hidden;}
				    to  {opacity: 1; visibility: visible;}
				}

		        &::after {
		            content: " ";
		            position: absolute;
		            top: 100%;
		            left: 50%;
		            margin-left: -5px;
		            border-width: 5px;
		            border-style: solid;
		            border-color: $col-grey-60 transparent transparent transparent;
		        }
		    }

		    &:hover .tooltiptext {
				animation: tooltip .6s linear .6s forwards;
		        // visibility: visible;
		        // opacity: 1;
		    }

		}


// *************************************************** //
	// ANIMATIONS
// *************************************************** //

// Entrance animation opacity
@keyframes enterOpacity {
  from {opacity: 0;}
  to {opacity: 1;}
}
