// *************************************************** //
	// BASIC RESET
// *************************************************** //

$base-font-size: 14px !default;
$base-font-family: 'Roboto', sans-serif !default;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}
html, body {
  font-family: $base-font-family;
  line-height: normal;
  height: 100%;
  font-size: $base-font-size; // BASE APP FONT
}

ul {
    list-style: none;
}

a {
  text-decoration: none;
}
::selection {
    color: #fff;
    background-color: $col-grey-20;
}



// [data-tooltip]::after{
//     content: attr(data-tooltip);
// 	background-color: tomato;
// 	color: white;
// 	padding: 5px;
// 	position: absolute;
// 	// margin-top: 10px;
// 	margin-left: 10px;
// 	opacity: 0;
// 	visibility: hidden;
// 	white-space: nowrap;
// 	transition: .6s all ease;
// }
// button:hover::after, a:hover::after{
// 	// display: block;
//     cursor: default;
// 	visibility: visible;
// 	opacity: 1;
// }

