// *************************************************** //
// Global App Styles, reset and Lookandfeel imports
// *************************************************** //


// LOOKANDFEEL IMPORTS
@import "icons";


// BASIC RESET STYLES
// todo borrar reset cuando este el componente de lookAndFeel
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html, body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    //max-width: 1440px;
    //margin: 0 auto;
  }
  ul {
    list-style: none;
  }
  a {
    text-decoration: none;
    color: #555;
    font-family: 'Roboto', sans-serif;
  }
  li {
    font-family: 'Roboto', sans-serif;
  }


// ¡¡ IMPORTANT !!
// Zemtime App Components has this structure:
//    <ia-comp-header></ia-comp-header>
//    <main></main>
// The main tag will contain all the information of the component so we give this container a padding
  main {
    padding: 10px 3%;
  }
